<a href="https://colab.research.google.com/github/Eboselethefirst/Mini_projects/blob/main/SparkSql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [2]:
def warn(*arg,**kwargs):
  pass
import warnings as wng
wng.warn = warn
wng.filterwarnings("ignore")

In [3]:
import findspark as fs
fs.init()

from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [5]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0231EN-SkillsNetwork/datasets/mpg.csv

--2026-01-21 16:04:16--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0231EN-SkillsNetwork/datasets/mpg.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13891 (14K) [text/csv]
Saving to: ‘mpg.csv’

mpg.csv             100%[===================>]  13.57K  --.-KB/s    in 0s

2026-01-21 16:04:17 (200 MB/s) - ‘mpg.csv’ saved [13891/13891]

In [6]:
df = spark.read.csv("mpg.csv",header=True,inferSchema=True)

In [8]:
df.printSchema()

root
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Engine Disp: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Accelerate: double (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [9]:
df.createTempView("mpg")

In [10]:
spark.sql("select distinct(Origin) from mpg ").show()

+--------+
|  Origin|
+--------+
|European|
|Japanese|
|American|
+--------+

In [12]:
spark.sql("Select count(*) from mpg where Origin = 'Japanese'").show()

+--------+
|count(1)|
+--------+
|      79|
+--------+

In [14]:
df.show(7)

+----+---------+-----------+----------+------+----------+----+--------+
| MPG|Cylinders|Engine Disp|Horsepower|Weight|Accelerate|Year|  Origin|
+----+---------+-----------+----------+------+----------+----+--------+
|15.0|        8|      390.0|       190|  3850|       8.5|  70|American|
|21.0|        6|      199.0|        90|  2648|      15.0|  70|American|
|18.0|        6|      199.0|        97|  2774|      15.5|  70|American|
|16.0|        8|      304.0|       150|  3433|      12.0|  70|American|
|14.0|        8|      455.0|       225|  3086|      10.0|  70|American|
|15.0|        8|      350.0|       165|  3693|      11.5|  70|American|
|18.0|        8|      307.0|       130|  3504|      12.0|  70|American|
+----+---------+-----------+----------+------+----------+----+--------+
only showing top 7 rows

In [16]:
spark.sql("select count(*) from mpg where MPG > 40").show()

+--------+
|count(1)|
+--------+
|       8|
+--------+

In [21]:
spark.sql("select year,count(*) as number_of_cars from mpg group by Year order by Year").show()

+----+--------------+
|year|number_of_cars|
+----+--------------+
|  70|            29|
|  71|            27|
|  72|            28|
|  73|            40|
|  74|            26|
|  75|            30|
|  76|            34|
|  77|            28|
|  78|            36|
|  79|            29|
|  80|            27|
|  81|            28|
|  82|            30|
+----+--------------+

In [22]:
spark.sql("Select max(MPG) from mpg").show()

+--------+
|max(MPG)|
+--------+
|    46.6|
+--------+

In [23]:
spark.stop()

In [24]:
spark = SparkSession.builder.appName("SparkSQL Exercise").getOrCreate()

In [25]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0231EN-SkillsNetwork/datasets/diamonds.csv

--2026-01-21 16:17:08--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0231EN-SkillsNetwork/datasets/diamonds.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3192561 (3.0M) [text/csv]
Saving to: ‘diamonds.csv’

diamonds.csv        100%[===================>]   3.04M  2.36MB/s    in 1.3s

2026-01-21 16:17:10 (2.36 MB/s) - ‘diamonds.csv’ saved [3192561/3192561]

In [26]:
df = spark.read.csv("diamonds.csv",header=True,inferSchema=True)

In [27]:
df.createTempView("diamonds")

In [28]:
df.show(7)

+---+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|  s|carat|      cut|color|clarity|depth|table|price|   x|   y|   z|
+---+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|  1| 0.23|    Ideal|    E|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
|  2| 0.21|  Premium|    E|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
|  3| 0.23|     Good|    E|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
|  4| 0.29|  Premium|    I|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
|  5| 0.31|     Good|    J|    SI2| 63.3| 58.0|  335|4.34|4.35|2.75|
|  6| 0.24|Very Good|    J|   VVS2| 62.8| 57.0|  336|3.94|3.96|2.48|
|  7| 0.24|Very Good|    I|   VVS1| 62.3| 57.0|  336|3.95|3.98|2.47|
+---+-----+---------+-----+-------+-----+-----+-----+----+----+----+
only showing top 7 rows

In [29]:
df.select("cut").distinct().show()

+---------+
|      cut|
+---------+
|  Premium|
|    Ideal|
|     Good|
|     Fair|
|Very Good|
+---------+

In [30]:
spark.sql("select distinct(cut) from diamonds").show()

+---------+
|      cut|
+---------+
|  Premium|
|    Ideal|
|     Good|
|     Fair|
|Very Good|
+---------+

In [33]:
spark.sql("select count(*) from diamonds where cut = 'Premium'").show()

+--------+
|count(1)|
+--------+
|   13791|
+--------+

In [34]:
spark.sql("select count(*) from diamonds where table > 65").show()

+--------+
|count(1)|
+--------+
|     181|
+--------+

In [35]:
spark.sql("select color,count(*) from diamonds group by color").show()

+-----+--------+
|color|count(1)|
+-----+--------+
|    F|    9542|
|    E|    9797|
|    D|    6775|
|    J|    2808|
|    G|   11292|
|    I|    5422|
|    H|    8304|
+-----+--------+

In [36]:
spark.sql("select max(price) from diamonds ").show()

+----------+
|max(price)|
+----------+
|     18823|
+----------+

In [37]:
spark.stop()